body{
  background-color: rgb(55, 199, 199);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@keyframes coinflip{
  0%{
      transform: rotatez(0);
  }
  50%{
      transform: rotatez(180deg);
  }
  100%{
      transform: rotatez(180deg);
  }
}

@keyframes big{
  0%{
      transform: scaley(1);
  }
  20%{
      transform: scaley(2.2);
  }
  40%{
      transform: scaley(1);
  }
  100%{
      transform: scaley(1);
  }
}

#circle{
  display: flex;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 25px;
  animation: coinflip 1s ease-in-out infinite;
}

.scircle{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
}

#box{
  margin: 0 0;
  padding: 0 0;
  display: flex;
  height: 40px;
  width: 70px;
  align-items: center;
  position: relative;
  justify-content: space-around;
  top: 25px;
}

.bbox{
  height: 100%;
  width: 14%;
  background-color: white;
}

.bbox:first-child{
  animation: big 1s ease-in-out infinite;
}

.bbox:nth-child(2){
  animation: big 1s ease-in-out infinite;
  animation-delay: 0.1s;
}

.bbox:nth-child(3){
  animation: big 1s ease-in-out infinite;
  animation-delay: 0.2s;
}

.bbox:nth-child(4){
  animation: big 1s ease-in-out infinite;
  animation-delay: 0.3s;
}

.bbox:nth-child(5){
  animation: big 1s ease-in-out infinite;
  animation-delay: 0.4s;
}