body {
    background-color: tomato;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display: inline-block;
    background-color: teal;
}
#first{
    display: flex;
    justify-content: center;
    background-color: wheat;
    border: solid;
    border-color: black;
    border-width: 2px;
    width: 200px;
    height: 200px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.small{
    border: solid;
    border-color: white;
    border-width: 3px;
    width: 40px;
    height: 40px;
}
#third{
    border: dotted;
    border-color: white;
    border-width: 3px;
    width: 170px;
    height: 40px;
}